h2.about-us-title Um okkur
p.about-us-text
  |Við erum þrír nemar í hugbúnaðarverkfræði við Háskóla Íslands með áhuga
  |á sjálfbærum samgöngum. Við erum á öðru ári og var þessi vefsíða
  |lokaverkefnið
  |okkar í Vefforritun. Við vonum að þessi síða fái fleiri til að
  |huga að framtíðinni og íhuga kosti rafbíla.
div.myndadiv.hover01
  div
    figure
      img.img-circle(src='img/bjarki.jpg', alt='Bjarki Viðar Kristjánsson')
  div
    figure
      img.img-circle(src='img/ingo.jpg', alt='Huy Van Nguyen')
  div
    figure
      img.img-circle(src='img/valentin.jpg', alt='Valentin Oliver Loftsson')
h2.about-us-title Hafðu samband
p.about-us-text
  |Vantar eitthvað á síðuna eða ertu með ábendingar um eitthvað sem mætti
  |betur fara? Endilega sendu póst á okkur.
p.email Bjarki Viðar Kristjánsson: bvk1@hi.is
p.email Huy Van Nguyen: hvn1@hi.is
p.email Valentin Oliver Loftsson: vol1@hi.is
