- var nav = ['Heim', 'Rafbílar', 'Samanburður', 'Hleðslustöðvar', 'Um okkur'];
nav
  a.logo-href(href='#')
    img.logo-icon(src='img/logo-icon.png', alt='Logo')
  input#mobile-nav.mobile(type='checkbox')
  label.mobile-trigger(for='mobile-nav')
    .mobile-bar.bar-transform.bar-transform1
    .mobile-bar.bar-transform.bar-transform3
    .mobile-bar.bar-transform.bar-transform2
  .menu-bar-container
    ul.menu-bar
      each item in nav
        li.nav-menu-item
          a= item
