doctype html
html(lang="is")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')

    meta(name='description' content='Vefsíða um rafbíla og hleðslustöðvar')
    meta(name='keywords' content='Rafbílar,Hleðslustöðvar,Bílar,Cars,Electric car')

    meta(name='author' content='Valentin Oliver, Huy Van, Bjarki Viðar')
    meta(name='application-name' content='Rafbílar')

    <!-- fyrir Facebook -->
    meta(property='og:title' content='Rafbílar')
    meta(property='og:type' content="website")
    meta(property='og:image' content='http://www.clipart-box.com/zoom/electric-car01.jpg')
    meta(property='og:url' content='rafbilar.herokuapp.com')
    meta(property='og:description' content='Vefsíða um rafbíla og hleðslustöðvar á Íslandi')

    <!-- fyrir Twitter -->
    meta(name='twitter:card' content='summary')
    meta(name='twitter:title' content='Rafbílar')
    meta(name='twitter:description' content='Vefsíða um rafbíla og hleðslustöðvar á Íslandi')
    meta(name='twitter:image' content='http://www.clipart-box.com/zoom/electric-car01.jpg')

    title Rafbílar
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='./stylesheets/onepage-scroll.css')
    link(rel='stylesheet', type='text/css', href='./stylesheets/mouse.css')
    link(rel='stylesheet', type='text/css', href='./stylesheets/main.css')
  body
    block content
